<%- include('template/header') %>
<%- include('template/nav') %>


<div class="container-fluid m-0 p-2">

    <h1 class="display-1 text-center "> Lista articoli</h1>

    <div class="collapse" id="formInvio">
        <div class="form " method="post" action="listaArticoli.php">

            <div class="row gx-3">

                <div class="form-group m-sm-auto  col-md-6 px-2 my-2">    
                    <select class="form-select form-select-sm " aria-label="Default select example">
                        <option selected>Categoria</option>

                        
                            <option value="#" name="categoria" id="">categoria</option>
                        
                        
                    </select>
                </div>

                <div class="form-group m-sm-auto col-md-6 px-2 my-2">  
                    <select class="form-select form-select-sm col-6" aria-label="Default select example">
                        <option selected>Sottocategoria</option>

                        <option value="#" name="categoria" id="">sottocat</option>    
                        
                    </select>
                </div>
            </div>
            
            <div class="row gx-3">
                <div class="form-group col-xs-12 col-md-6 px-2 my-2">
                    <input class="form-control input-sm" type="text" id="articoloListaArticoli" name="articoloListaArticoli" placeholder="Nome articolo">
                </div>

                <div class="form-group col-xs-12 col-md-6 px-2 my-2">
                    <input class="form-control input-sm" type="text" id="descrizioneListaArticoli" name="descrizioneListaArticoli" placeholder="Descrizione">
                </div>
            </div>
            
            <div class="row gx-3 p-0">
                
                <div class="form-group col-md-6 px-2 my-2">
                    <div class="input-group ">
                        <input class="form-control input-sm" style="width:60%" type="number" id='capacitaListaArticoli' name="capacitaListaArticoli" placeholder="capacità">
                        <select class="form-select form-select-sm"  style="width:40%" aria-label="Default select example">
                            <option selected>Unita misura</option>

                            <option value="#" name="categoria" id="">unita</option>   
                    
                        </select>                            
                    </div>
                </div>
                <button class="btn btn-secondary btn-md col-md-3 m-auto " type="submit" value="submit">inserisci</button>
            </div>  
        </div>
    </div>
                            
    <div class="row col-md-4 p-4 m-auto">
    <button class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#formInvio" aria-expanded="false" aria-controls="formInvio">Aggiungi articolo</button>
    </div>

    <table class="table table-secondary table-striped-columns w-auto m-auto">
        <thead>
            <tr> 
                <th scope="col">Articolo</th>
                <th scope="col">Sottocategoria</th>
                <th scope="col">Categoria</th>
                <th scope="col">Capacità</th>
                <th scope="col">Unità misura</th> 
                <th scope="col">Descrizione</th>
                <th scope="col" class="text-center">Elimina</th>
                <th scope="col" class="text-center">Modifica</th>
            </tr>
        </thead>
        
        <tbody> 
            <tr>
                <td>Articolo 1</td>
                <td>Sottocategoria 1</td>
                <td>Categoria 1</td>
                <td>Capacità 1</td>
                <td>Unità di misura 1</td>
                <td>Descrizione 1</td>
                <td class="text-center"style="width: 30px;">
                    <a href="#"><i class="fas fa-trash"></i></a>
                </td>
                <td class="text-center"style="width: 30px;">
                    <a href="#"><i class="fas fa-pencil-alt"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<%- include('template/footer') %>  
  